html {
  font-weight: 400;
}

body {
  margin: 0;
  background-color: #fbfbfb;
  font-family: Avenir Next, Avenir, Avenir Next Local, sans-serif !important;
  line-height: 1.5;
}
body {
  font-size: 16px;
}
